<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Espressokarte uses your location to find nearby cafes and show your position on the map.</string>
	<key>NSCameraUsageDescription</key>
	<string>Espressokarte needs camera access to photograph menu prices.</string>
</dict>
</plist>
