<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Espressokarte.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2544F38A2F0EAE8F0045FBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2544F39B2F0EAE910045FBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2544F3A52F0EAE910045FBEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
